/* iCheck plugin Square skin, aero
----------------------------------- */
.icheckbox_square-aero,
.iradio_square-aero {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    background: url(../img/icon_sprites.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-aero {
    background-position: 0 0;
}
   /* .icheckbox_square-aero.hover {
        background-position: -24px 0;
    } */
    .icheckbox_square-aero.checked {
        background-position: -30px 0;
    }
    .icheckbox_square-aero.disabled {
        background-position: -15px 0;
        cursor: default;
    }
    .icheckbox_square-aero.checked.disabled {
        background-position: -45px 0;
    }

.iradio_square-aero {
    background-position: -60px 0;
}
    /* .iradio_square-aero.hover {
        background-position: -144px 0;
    } */
    .iradio_square-aero.checked {
        background-position: -90px 0;
    }
    .iradio_square-aero.disabled {
        background-position: -75px 0;
        cursor: default;
    }
    .iradio_square-aero.checked.disabled {
        background-position: -105px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-aero,
    .iradio_square-aero {
        background-image: url(../img/aero@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}