<div style="padding: 10px;"  ng-controller="childrenindex">
	<i class="iconfont icon-checkmark"></i>
	<i class="iconfont">&#xe63c;</i>
	<div class="formList clearfix">
		<ul>
			<li>
				<label class="lab">千分符小数：</label>
				<input class="inp" type="text" value="" />
				<span class="checval">¥</span>
			</li>
			<li>
				<label class="lab">账户：</label>
				<div class="select sec1">
					<span data-id="" class="placeholder">请选择</span>
					<ul>
						<li data-id="1">111</li>
						<li data-id="2">222</li>
						<li data-id="3">333</li>
						<li data-id="4">444</li>
					</ul>
				</div>
			</li>
			<li class="listre">
				<label class="lab">账户：</label>
				<textarea class="tre"></textarea>
			</li>
		</ul>
	</div>
	<div id="main1" style="width: 600px; height: 400px;"></div>
	<div id="main2" style="width: 600px; height: 400px;"></div>
</div>
